@{
    ViewBag.Title = "Edit";
}

<div class="section_header">
	        <span class="section_header_left"></span>
	        <span class="float_left">Edit an Individual</span>
	        <span class="section_header_right"></span>
        </div>
        <div class="section">

